/* 992 px pour les écrans d’ordinateurs
    768 px pour les tablettes
    tout ce qui est en dessous de 768 pour les téléphones portables.
*/



/* Reset CSS et définition des polices */


/* box-sizing est appliqué à tous les éléments
    Border-box : les largeur et hauteur spécifiées sont celles de l'élément dans son ensemble,
    en conséquence les dimensions du padding ou des bordures viennent diminuer les dimensions du contenu.
*/


*{
    box-sizing: border-box;
    color: black;
    margin:0;
    padding:0;
    font-family: "Raleway",sans-serif;
    letter-spacing: 0rem;
}

body{
    font-size: medium;
}

/* Pour les polices, informations qui viennent de canva

h1 raleway heavy 23,3 gras
ingénieur devops en raleway 11,7 normal
p raleway normal taille 8

h2 raleway heavy 12 gras
h3 raleway taille 10 gras

*/


h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-style: bold;
    font-weight: 800;
}

h3{
    font-size: 1rem;
}

/*  
main{
    padding-left: 3rem;
    padding-right: 3rem;
}

@media screen and (max-width: 991px){
    main{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 767px){
    main{
        padding-left: 0rem;
        padding-right: 0rem;
    }
}
*/

/* Header */

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem 5rem 8rem;
}

header h1{
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}

header p{
    font-weight: 200;
    font-size: 1.5rem;
}

#nom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



header img{
    height: 10rem;
}


/* Main */

main{
    padding: 0rem 3rem 0rem 3rem;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.trait{
    margin: 1rem 0rem 1rem 0rem;
    width: 4rem;
    height: 0.2rem;
    color: grey;
    border: none;
    background-color:grey;
    border: 0 none;
}

main h3{
    padding-bottom: 0.5rem;
}

main p{
    font-weight: 300;
    line-height : 1.2rem;
    font-size:1rem;
}

main ul{
    font-weight: 300;
    margin: auto;
}

main ul li  {
    list-style-position:inside
}

#section1{
    width: 60%;
}


article{
    padding-bottom:2rem;
}





#section2{
    width: 40%;
}




